<% include partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
</head>
<body>

<!--//Addin Z's code-->


<!--<nav class="navbar navbar-dark bg-dark navbar-default navbar-fixed-top" style="background-color: rgb(0,0,0);">-->
<!-- 		<div class="navbar-header">-->
<!--      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--        		<span class="sr-only">Toggle navigation</span>-->
<!--        		<span class="icon-bar"></span>-->
<!--        		<span class="icon-bar"></span>-->
<!--       	 		<span class="icon-bar"></span>-->
<!--      		</button>-->
<!--     	 	<a class="navbar-brand" href="/home"><i class="fas fa-graduation-cap"></i>E-Stud</a>-->
<!--   	 	</div>-->
<!--    	<div id="navbar" class="collapse navbar-collapse">-->
<!--     		 <ul class="nav navbar-nav">-->
<!--        		<li class="active"><a href="/home">Home</a></li>-->
<!--        		<li><a href="">About</a></li>-->
<!--        		<li><a href="">Contact Us</a></li>-->
<!--        		<li><a href="">Tools</a></li>-->
<!--      		</ul>-->
<!--      		<ul class="nav navbar-nav navbar-right">-->
<!--        		<li><a href=""></a></li>-->
<!--        		<li><a href=""></a></li>-->
<!--        		<li><a href=""></a></li>-->
<!--      		</ul>-->
<!--    	</div>-->
<!-- 	</nav>-->

<!-- 	<div class="container">-->
 

<!--    <div class="row">-->
<!--      <div class="col-lg-4 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>COUNSELLING</p>-->
<!--         <a href="/home"><img src="http://www.dublinpsychologist.com/media/rokgallery/e/e4869f84-0a55-4fb2-e3a6-103e3ecdde69/27215124-fe93-485e-d3b3-d2862b01a5e2.jpg"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>RESOURCES AND BOOKS</p>-->
<!--         <a href="/resources"><img src="http://kathrynbarger.lacounty.gov/wp-content/uploads/2018/03/909157366.jpg"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>EVENTS</p>-->
<!--         <a href="/events"><img src="https://www.plannedparenthood.org/files/6114/5512/7825/upcoming_events.jpg"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>CURRENT AFFAIRS</p>-->
<!--         <a href=""><img src="http://lh3.googleusercontent.com/u3geIEWnEgdSKkmL_C71NYjUYLWho78H-lqoi9-p7WOCrcdi6tBw2Q_YCnmFzh8R23E=w300"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>TECHNOLOGY</p>-->
<!--         <a href="/tech"><img src="https://www.taylorintime.com/wp-content/uploads/2016/11/Technology.jpg"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--  	 </div>-->

<!--<script src="https://code.jquery.com/jquery-2.1.4.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--<nav class="navbar navbar-dark bg-primary navbar-default navbar-fixed-top" style="background-color: black;">-->
<!-- 		<div class="navbar-header">-->
<!--      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--        		<span class="sr-only">Toggle navigation</span>-->
<!--        		<span class="icon-bar"></span>-->
<!--        		<span class="icon-bar"></span>-->
<!--       	 		<span class="icon-bar"></span>-->
<!--      		</button>-->
<!--     	 	<a class="navbar-brand" href="#">E-STUD</a>-->
<!--   	 	</div>-->
<!--    	<div id="navbar" class="collapse navbar-collapse">-->
<!--     		 <ul class="nav navbar-nav">-->
<!--        		<li class="active"><a href="#">Home</a></li>-->
<!--        		<li><a href="/about">About</a></li>-->
<!--        		<li><a href="/contact">Contact Us</a></li>-->
<!--      		</ul>-->
<!--      		<ul class="nav navbar-nav navbar-right">-->
<!--        		<li><a href=""></a></li>-->
<!--        		<li><a href=""></a></li>-->
<!--        		<li><a href=""></a></li>-->
<!--      		</ul>-->
<!--    	</div>-->
<!-- 	</nav>-->

<!-- 	<div class="container">-->
<!--  	

<!--    <div class="row">-->
<!--      <div class="col-lg-4 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>COUNSELLING</p>-->
<!--         <a href="/home"><img src="http://www.dublinpsychologist.com/media/rokgallery/e/e4869f84-0a55-4fb2-e3a6-103e3ecdde69/27215124-fe93-485e-d3b3-d2862b01a5e2.jpg"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>RESOURCES AND BOOKS</p>-->
<!--         <a href="/resources"><img src="http://kathrynbarger.lacounty.gov/wp-content/uploads/2018/03/909157366.jpg"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>EVENTS</p>-->
<!--         <a href="/events"><img src="https://www.plannedparenthood.org/files/6114/5512/7825/upcoming_events.jpg"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>CURRENT AFFAIRS</p>-->
<!--         <a href="/"><img src="http://lh3.googleusercontent.com/u3geIEWnEgdSKkmL_C71NYjUYLWho78H-lqoi9-p7WOCrcdi6tBw2Q_YCnmFzh8R23E=w300"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6 col-sm-6">-->
<!--        <div class="thumbnail">-->
<!--         <p>TECHNOLOGY</p>-->
<!--         <a href="/tech"><img src="https://www.taylorintime.com/wp-content/uploads/2016/11/Technology.jpg"></a>-->
<!--        </div>-->
<!--      </div>-->
<!--  	</div>-->

<!--<script src="https://code.jquery.com/jquery-2.1.4.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->


<nav class="navbar navbar-dark bg-primary navbar-default navbar-fixed-top" style="background-color: black;">
 		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
       	 		<span class="icon-bar"></span>
      		</button>
     	 	<a class="navbar-brand" href="#">E-STUDENT</a>
   	 	</div>
    	<div id="navbar" class="collapse navbar-collapse">
     		 <ul class="nav navbar-nav">
        		<li class="active"><a href="#">Home</a></li>
        		<li><a href="/about">About</a></li>
        		<li><a href="/contact">Contact Us</a></li>
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
        		<li><a href=""></a></li>
        		<li><a href=""></a></li>
        		<li><a href=""></a></li>
      		</ul>
    	</div>
 	</nav>

 	<div class="container">
  <div class="jumbotron">
		<h1><i class="fas fa-graduation-cap"></i> E-Stud</h1>
		<p><strong>All you need in one place</strong></p>
	</div>
  	<div class= "container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
					<div class="thumbnail">
						<a href=""><img src="https://www.mayacentre.org.uk/wp-content/uploads/2017/05/GREEN-ICON-12.png"></a>
				    </div>
			</div>
            <div class="col-md-8 col-sm-6 LEFT">
					<div class="thumbnail">
					     <a href="/home"><h3>COUNSELLING</h3></a>
					     <p>Mentors provide professional networks, outlets for frustration, college and career counseling, general life advice, and most importantly, an extra voice telling a student they are smart enough and capable enough to cross the stage at graduation and land their first paycheck from a career pathway job.</p>
						<a href="/puc" type="button" class="btn btn-primary btn-lg FIRST">PUC</a>
						<a href="/ug" type="button" class="btn btn-primary btn-lg FIRST">UG</a>
				    </div>
			</div>
		</div>

		<div class="row">
            <div class="col-md-8 col-sm-6 RIGHT">
					<div class="thumbnail">
					     <a href=""><h3>RESOURCES AND BOOKS</h3></a>
					     <p>Keep reading books, but remember that a book is only a book, and you should learn to think for yourself.</p>
					     <a href="/resources" type="button" class="btn btn-primary btn-lg" style="background-color: rgba(0,0,200)">Click Me!!</a>
						 
				    </div>
			</div>	
			<div class="col-md-4 col-sm-6 ">
					<div class="thumbnail">
						<a href=""><img src="https://vkc.mc.vanderbilt.edu/assets/images/path/icon-resources-library.png"></a>
				    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
					<div class="thumbnail">
						<a href=""><img src="https://i1.wp.com/medieval.academy/wp-content/uploads/2017/12/Events-Icon.png?ssl=1"></a>
				    </div>
			</div>
            <div class="col-md-8 col-sm-6 LEFT">
					<div class="thumbnail">
					     <a href=""><h3>EVENTS</h3></a>
					     <p>Lectures should go from being like the family singing around the piano to high-quality concerts.</p>
					     <a type="button" href="/events" class="btn btn-primary btn-lg" style="background-color: #ff9900;">Click Me!!</a>
						 
				    </div>
			</div>	
		</div>

		<div class="row">
            <div class="col-md-8 col-sm-6 RIGHT">
					<div class="thumbnail">
					     <a href=""><h3>CURRENT AFFAIRS</h3></a>
					     <p>In today's world hunger for sanity seems to be more intense than our hunger for food.</p>
					     <a href="/home" type="button" href="" class="btn btn-primary btn-lg" style="background-color: #f8aa07;">Click Me!!</a>
						 
				    </div>
			</div>	
			<div class="col-md-4 col-sm-6">
					<div class="thumbnail">
						<a href=""><img src="http://lh3.googleusercontent.com/u3geIEWnEgdSKkmL_C71NYjUYLWho78H-lqoi9-p7WOCrcdi6tBw2Q_YCnmFzh8R23E=w300"></a>
				    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-6">
					<div class="thumbnail">
						<a href=""><img src="https://cdn0.iconfinder.com/data/icons/illustricon-tech-iv/512/iot-512.png"></a>
				    </div>
			</div>
            <div class="col-md-8 col-sm-6 LEFT">
					<div class="thumbnail">
					     <a href=""><h3>TECHNOLOGY</h3></a>
					     <p>Technology has forever changed the world we live in. We're online, in one way or another, all day long. Our phones and computers have become reflections of our personalities, our interests, and our identities. They hold much that is important to us.</p>
					     <a href="/tech" type="button" class="btn btn-primary btn-lg" style="background-color: #66c2ff">Click Me!!</a>
						 
				    </div>
			</div>	
		</div>
	</div>


<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>





<%include partials/footer %>