<link rel="stylesheet" type="text/css" href="/stylesheets/puc.css">

    
</head>
<body>
		<nav class = "navbar navbar-default" class="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
				<li style="font-size: 25px;"><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</nav>


    <div class="container">
    	<div class="jumbotron">
    		<h1 style="text-align: center;">Pre University Cource</h1>
    	</div>
    </div>





	<div class= "container">
		<div class="row" id="vinay">
			<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="thumbnail">
						 <h1 style="text-decoration: underline;">Arts</h1>
						 <a href="link thta goes to commerce field">
						 <img src="https://qph.fs.quoracdn.net/main-qimg-a06ff3adbcf2198ac32b5c1830c8497e-c">
						 </a>
						 
						  <p>The reason of it's vast scope is that it provides
						    a wide range of subject choice to study.</p>
				    </div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-12">
					<div class="thumbnail">
					     <h1 style="text-decoration: underline;">Commerce</h1>
						 <a href="link thta goes to commerce field">
						 <img src="http://pambrowncorninghighschool.pbworks.com/f/1502834516/Career%20Tree-image-1.png">
						 </a>
						 
						 <p>The Bachelor of Commerce is designed to develop your business acumen, financial literacy, and analytical skills.</p>
				    </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="thumbnail">
						 <h1 style="text-decoration: underline;">Science</h1>
						 <a href="link thta goes to commerce field">
						 <img src="https://verticaltutors.files.wordpress.com/2013/04/science.png">
						 </a>
						 <p>Interested in Nature?</p>
						 <p>Then don't wait, just click the image.</p>
				    </div>
			</div>
		</div>
	</div>
















   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
