<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/tech.css">
</head>
<body>

<!--//include vin's code here-->

<body>
	<nav class = "navbar navbar-default" class="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
				<li style="font-size: 25px;"><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			<form class="navbar-form navbar-left" action="/techResults" method="GET">
                <div class="form-group">
                 <input type="text" class="form-control" placeholder="Search" name="techSearch">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
		</div>
	</nav>

    <div class="container">
    	<div class="jumbotron">
    		<h1 style="text-align: center;"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Technology</h1>
    	</div>
    </div>

    <div class="jumbotron">
    
      <h2 > Trending Languages</h2>
      <p>A computer language is a method of communication with a computer.<br> Types of computer languages include these:</p>
    
    </div>



	<div class= "container" style="margin-bottom: 70px;">
		<div class="row" id="vinay">
			<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="thumbnail">
						<h1 style="text-decoration: underline;">Python</h1>
						<a href="https://www.tutorialspoint.com/python/">
						<img src="https://cdn01.alison-static.net/courses/423/alison_courseware_intro_423.jpg">
						</a>
						 
						  <p></p>
				    </div>
			</div>
            <div class="col-lg-4 col-md-6 col-sm-12">
					<div class="thumbnail">
					     <h1 style="text-decoration: underline;">Java</h1>
						<a href="https://www.tutorialspoint.com/java/">
						<img src="https://www.chip.de/ii/7/0/6/2/6/7/8/0fc51f82e036e1d3.jpg">
						</a>
						 
						<p></p>
				    </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="thumbnail">
						<h1 style="text-decoration: underline;">Java Script</h1>
						<a href="https://www.tutorialspoint.com/javascript/">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png">
						</a>
						<p></p>
						<p></p>
				    </div>
			</div>
		</div>
	</div>


    
    <div class="jumbotron">
    
      <h2 > Trending Fields</h2>
      <p>Keeping in mind the future scope of technology, the best fieds to work are:</p>
    
    </div>
    

    <div class= "container" style="margin-bottom: 70px;">
		<div class="row" id="vinay">
			<div class="col-md-6 col-sm-12">
					<div class="thumbnail">
						<h1 style="text-decoration: underline;">Machine Learning</h1>
						<a href="https://www.talentsprint.com/aiml.dpl?bengaluru&utm_source=googlesearch&utm_medium=cpc&utm_campaign=ts-aiml-google-search-bofu-blr&utm_content=ai-machine-learning-program&utm_term=machine%20learning%20course&gclid=Cj0KCQiA3IPgBRCAARIsABb-iGJvCRUnuRH9VWXBydMPbnu-0BGT9XM2qS5MUGbBErpvg8s_gva-J9kaAjpiEALw_wcB">
						<img src="https://cdn-images-1.medium.com/max/1200/1*PlOTeS5syDCWSrYDUb7J7w.jpeg">
						</a>
						 
						  <p></p>
				    </div>
			</div>
            <div class="col-md-6 col-sm-12">
					<div class="thumbnail">
					     <h1 style="text-decoration: underline;">Artificial Intelligence</h1>
						<a href="https://timespro.com/course/pgp-in-machine-learning-and-artificial-intelligence/?utm_source=Google_Search&gclid=Cj0KCQiA3IPgBRCAARIsABb-iGLoQBx45aU7FeOChcBwk72pZ19VmwlA6n9-RX9wY_Ljg6ZGvLk9AjUaAvL8EALw_wcB">
						<img src="https://d3an9kf42ylj3p.cloudfront.net/uploads/2016/07/pg_mlnxtdcd_072616.png?x23053">
						</a>
						 
						<p></p>
				    </div>
			</div>
		</div>

	</div>














   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<% include partials/footer %>