<% include partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/ug.css">

<body>
	<nav class = "navbar navbar-default" class="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
				<li style="font-size: 25px;"><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</nav>

    <div class="container">
    	<div class="jumbotron">
    		<h1 style="text-align: center;">Under-Graduate Course</h1>
    	</div>
    </div>





	<div class= "container">
		<div class="row" id="vinay">
			<div class="col-md-4 col-sm-12">
					<div class="thumbnail">
						 <h1 style="text-decoration: underline; color:black"></h1>
						 
						 <img style="border:2px solid black" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9a4VjnNyCYrlD3xb2BSJHM--yzo-BJiGQyEKu8f_D0e_uJBZC">
						 
				    </div>
			</div>
            <div class="col-md-8 col-sm-12">
					<div class="thumbnail" style="height:375px;">
					     <h1 style="text-decoration: underline;color:black;font-family: ">Engineering</h1>
						  <p>Nothing Makes An Engineer More Productive<br>
						      Than The Last Minute.</p>
						   <a href="/colleges" type="button" class="btn btn-primary btn-lg" style="background-color: rgba(0,0,0,1)">Click Me!!</a>   
						   
				    </div>
			</div>
			
		</div>
	</div>


    <div class= "container">
		<div class="row" id="vinay">
			<div class="col-md-4 col-sm-12">
					<div class="thumbnail">
						 <h1 style="text-decoration: underline;color:black"></h1>
						 
						 <img style="border:2px solid black" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFkyva8ECriRBxnWq1HszX9Rl6bsQI0SuRfdZ06om_1OyhaMgJ">
						 
				    </div>
			</div>
            <div class="col-md-8 col-sm-12">
					<div class="thumbnail" style="height:375px;">
					     <h1 style="text-decoration: underline;color:black">Medical</h1>
						 <p>The Art Of Medicine Consists In Amusing<br>
						     The Patient While Nature Cures<br>
						     The Disease.</p>
						     <a href="" type="button" class="btn btn-primary btn-lg" style="background-color: rgba(0,0,0,1)">Click Me!!</a>
				    </div>
			</div>
			
		</div>
	</div>


    <div class= "container">
		<div class="row" id="vinay">
			<div class="col-md-4 col-sm-12">
					<div class="thumbnail">
						 <h1 style="text-decoration: underline;color:black"></h1>
						 
						 <img style="border:2px solid black" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0tDICHpyFNknJBDX07JHS7oj9NLEfNc-bdojYgwVaFCV956qw">
						 
				    </div>
			</div>
            <div class="col-md-8 col-sm-12">
					<div class="thumbnail" style="height:375px;">
					     <h1 style="text-decoration: underline;color:black">BSc-Agriculture</h1>
						 <p>No Race Can Prosper Till It Learns There<br>
						     Is As Much Dignity In Tilling A Field<br>
						      As In Writing A Poem.</p>
						      <a href="" type="button" class="btn btn-primary btn-lg" style="background-color: rgba(0,0,0,1)">Click Me!!</a>
				    </div>
			</div>
			
		</div>
	</div>



    <div class= "container">
		<div class="row" id="vinay">
			<div class="col-md-4 col-sm-12">
					<div class="thumbnail">
						 <h1 style="text-decoration: underline;color:black"></h1>
						 
						 <img style="border:2px solid black" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkjsgmVXUIkI71a7f7LPNMTg55T8akUvTTAdE7O2SxEAbq9J_wIQ">
						 
				    </div>
			</div>
            <div class="col-md-8 col-sm-12">
					<div class="thumbnail" style="height:375px;">
					     <h1 style="text-decoration: underline;color:black">Bachelor of Legislative Law</h1>
						 <p>God Works Now And Then; Behold A Lawyer<br>
						      An Honest Man.</p>
						      <a href="" type="button" class="btn btn-primary btn-lg" style="background-color: rgba(0,0,0,1)">Click Me!!</a>
				    </div>
			</div>
			
		</div>
	</div>









   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<% include partials/footer %>